<p>create-task works!</p>
<a routerLink="/tasks" class="link">Tasks list</a>

<section [formGroup]="taskFormGroup" class="mt-10">
  <div>
<!--    //TODO: replace fullwidth class with tailwind-->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Type some name" formControlName="name">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Type some description" formControlName="description">
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    [disabled]="taskFormGroup.invalid"
    (click)="submit()"
  >Submit
  </button>
</section>
