<header class="max-w-xs mx-auto mt-10 ">
  <h1>Create a task</h1>
</header>

<section [formGroup]="taskFormGroup" class="mt-10 form max-w-xs mx-auto">
  <div>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Type some name" formControlName="name">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Type some description" formControlName="description">
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    [disabled]="taskFormGroup.invalid"
    (click)="submit()"
  >Submit
  </button>
</section>
