<header>
  <mat-toolbar color="primary" class="flex gap-x-3 place-content-between">
    <div class="left gap-x-3 flex">
      <a *ngIf="isAuthenticated"
         routerLink="/tasks"
         routerLinkActive="text-green-600"
         class="text-base hover:underline">Tasks</a>
    </div>
    <div class="right gap-x-3 flex justify-end">
      <a *ngIf="!isAuthenticated"
         routerLinkActive="text-green-600"
         routerLink="/auth/login"
         class="text-base hover:underline">Login</a>
      <a routerLink="/auth/register"
         routerLinkActive="text-green-600"
         class="text-base hover:underline">Register</a>
    </div>
  </mat-toolbar>
</header>
<section class="container mx-auto">
  <router-outlet></router-outlet>
</section>
